dtbTool
dtbtool.txt
dtc
media.pk8
media.x509.pem
mkboot
mkbootimg_dtb
platform.pk8
platform.x509.pem
releasekey.pk8
releasekey.x509.pem
remount
shared.pk8
shared.x509.pem
signpackages
signpackages.jar
