snippet bash
	#!/bin/bash
#此脚本用来 DIY ROM 用
#制作者：陈云
#2013年7月 上海乐蛙科技有限公司
#2014年3月 湘潭大学
#2014年4月 深圳语信时代通讯设备有限公司
#2014年7月 深圳云雀软件技术有限公司
#2015年3月 深圳腾讯科技有限公司
PATH=/bin:/sbin:/usr/bin:usr/sbin:/usr/local/bin:/usr/local/sbin:~/bin:~/yun
export PATH
endsnippet
